<div>

    <!-- Data Binding:  -->
    <app-search></app-search>

    <!-- Pipe: -->
    <app-gift-card></app-gift-card>

    <!-- Attribute Directives: -->
    <app-discount></app-discount>

    <!-- Structural Directive -->
    <app-sale></app-sale>

    <!-- Template Reference Variable: -->
    <app-location></app-location>

    <!-- @Input -->
    <app-slogan slogan="Cool Products from Around the World!"></app-slogan>

    <!-- ng-content -->
    <app-tip>Always buy <strong>fresh</strong> fruits</app-tip>

    <!-- @Output -->
    <app-survey (report)="display($event)"></app-survey>

    <!-- Lifecycle Hooks -->
    <app-clock></app-clock>

    <!-- Test Environments: -->
    <app-test-environment></app-test-environment>

</div>